<h1>ツイート</h1>

<p><span>email     : </span><%= @user.email %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>

<hr>
<%= form_for([@tweet, @comment]) do |f| %>
  <p>
    <%= f.label :body, "コメント" %>
    <%= f.text_field :body, class: "form-control" %>
  </p>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<hr>
<p>コメント数: <%= @tweet.comments.count %></p>
<div>
  <% @tweet.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>
</div>