<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<p><span>email     : </span><%= @user.email %></p>
<p><span>ツイート内容: < /span><%= @tweet.body %></p>

<hr>
<p>コメント内容: </p>
<%= form_for([@tweet, @comment]) do |f| %>
  <p>
    <%= f.label :body, "コメント" %>
    <%= f.text_field :body %>
  </p>
  <%= f.submit %>
<% end %>

<hr>
<% @tweet.comments.each do |comment| %>
  <p><%= comment.body %></p>
<% end %>